<mat-toolbar color="primary">
  <button (click)="clickMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="icone" src="/assets/icons/slime.png" alt="logo">
  <span>Slime Games</span>

  <span class="example-spacer"></span>

  <ng-container *ngIf="usuarioLogado; else loginButton">
    <!-- Botão de saída -->
    <button value="blah" mat-icon-button class="mat-toolbar-content" (click)="deslogar()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{usuarioLogado?.nome}}</span>
    </button>
  </ng-container>
  <span *ngIf="usuarioLogado">{{usuarioLogado?.nome}}</span>
  
  <ng-template #loginButton>
    <!-- Botão de login -->
    <button mat-icon-button class="mat-toolbar-content" routerLink="/user/auth/login">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
  </ng-template>
  
</mat-toolbar>

  

