
<div class="main-container">
    <header>
        <div class="header-title">
            <h1>{{game.nome}}</h1>
        </div>
    </header>

    <div class="div-secundaria">



        <div class="image-and-cart">
            <div class="cont">
                <section class="conteudo">
                    <img [src]="getImageUrl()" alt="Imagem do Jogo" />
                    <h2 class="preco">R${{game.preco}}</h2>
                    <section class="write">
                        <p>Desenvolvido por {{game.developer.nome}}</p>
                        <p>Lançado em {{game.anoLancamento}}</p>
                        <mat-card-footer>
                            <button mat-flat-button color="primary" (click)="adicionarAoCarrinho(criarCard(game))"
                                style="width: 100%; padding: 16px;">COMPRAR</button>
                        </mat-card-footer>
                    </section>
                </section>


            </div>
        </div>
        <div class="imaged">
            <div class="carousel">

                <section>
                    <button class="arrow prev" (click)="prevImage()">&#9665;</button>
                    <img class="imgCard" src="{{images[currentImageIndex].src}}"
                        alt="{{images[currentImageIndex].alt}}" />
                    <button class="arrow next" (click)="nextImage()">&#9655;</button>
                </section>
            </div>
        </div>
        <section class="game">
            <div>
                <h2>{{game.descricao}}</h2>
            </div>
        </section>
    </div>
</div>