<mat-drawer-container class="container">
  <mat-drawer #drawer mode="side" opened>
      <mat-toolbar>
        <span>Menu</span>
      </mat-toolbar>
      <mat-nav-list>
        <mat-list-item>Home</mat-list-item>
        <mat-list-item>Controle de Usuário</mat-list-item>
        <mat-list-item>Controle de Game</mat-list-item>
        <mat-list-item>Controle de Notícia</mat-list-item>
        <mat-list-item>Controle de Plataforma</mat-list-item>
        <mat-list-item routerLink="/developers/list">Controle de Developer</mat-list-item>
        <mat-list-item routerLink="/generos/list">Controle de Gênero</mat-list-item>
        <mat-list-item routerLink="/fabricantes/list">Controle de Fabricante</mat-list-item>
        <mat-list-item routerLink="/cidades/list">Controle de Cidade</mat-list-item>
        <mat-list-item routerLink="/estados/list">Controle de Estado</mat-list-item>
      </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

